body {
  color: #004c8c;
  font-family: arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
}

.result {
  align-items: center;
  border: solid 1px #004c8c;
  display: flex;
  font-size: 130px;
  font-weight: bold;
  justify-content: center;
  height: 200px;
  margin: 0 auto 10px;
  text-align: center;
  width: 200px;
}

.number {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  width: 500px;
}

@media (max-width: 767px) {
  .number {
    width: 100%;
  }
}

.number li {
  align-items: center;
  border: solid 1px #004c8c;
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 4px;
  width: 40px;
}

.number li.hit {
  background: #004c8c;
  color: #fff;
}

.wrapper-button {
  padding: 20px 0 50px;
  text-align: center;
}

.button {
  background: #004c8c;
  border: dashed 1px #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #004c8c;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  text-align: center;
  transition: .4s;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background: #668ad8;
  box-shadow: 0 0 0 5px #668ad8;
  cursor: pointer;
}

footer {
  text-align: center;
}